<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h2>Valor sin escapar</h2>
    <%= valor %> <!-- si usamos %- saldra un alert -->

    <h2>Incluir una condicion</h2>
    <% if (condicion.estado) { %>
      <p><%= condicion.segundo %> es par </p>
    <% } else { %>
      <p><%= condicion.segundo %> es impar </p>
    <% } %>

    <% users.forEach(user => { %>
      <p><%= user.name + ' ' + user.age %></p>
    <% }) %>
  </body>
</html>
